@media screen and (max-width: 400px) {
  body {
    background-position: 60%;
  }
  /* updated utility classes for mobile  */
  .heading-primary {
    font-size: 4rem;
  }
  .heading-secondary {
    font-size: 3rem;
  }
  .heading-tertiary {
    font-size: 2rem;
  }
  .title {
    flex-direction: column;
    gap: 2rem;
  }

  /* classes */
  .section-heading {
    background-position: bottom bottom;
  }
  .toggle-mobile {
    display: block;
    z-index: 1000;
  }
  .toggle-mobile i {
    font-size: 3rem;
    color: var(--color-primary);
  }
  .main-nav {
    background: var(--color-secondary);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
    transform: translateX(100%);
  }
  .main-nav li {
    position: absolute;
  }
  .main-nav li:nth-child(1) {
    top: 42%;
  }
  .main-nav li:nth-child(2) {
    top: 6vh;
    left: 3rem;
    transform: translateY(-50%);
  }
  .main-nav li:nth-child(3) {
    top: 6vh;
    right: 10rem;
    font-size: 1.5rem;
    transform: translateY(-50%);
  }
  .main-header.active .main-nav {
    transform: translateX(0);
  }
  /* banner */

  .section-banner {
    grid-template-columns: 1fr;
  }
  .banner-content,
  .banner-image {
    text-align: center;
  }
  /* section about notification */
  .section-about-notifications {
    grid-template-columns: 1fr;
  }
  .notification-image {
    width: 70%;
  }
  .notification-image img {
    width: 100%;
  }
  .notification-info {
    justify-self: center;
    text-align: center;
    grid-row: 1/2;
    gap: 2rem;
  }

  .notification-info p {
    width: 34rem;
  }

  /* section about tracking */
  .section-about-tracking {
    grid-template-columns: 1fr;
    height: 110vh;
  }
  .tracking-info {
    gap: 2rem;
    text-align: center;
  }
  .tracking-info p {
    width: 34rem;
  }
  .tracking-image {
    text-align: center;
  }
  .tracking-image img {
    width: 60%;
  }

  /* section about styling */
  .section-about-style {
    height: 100vh;
  }
  .style-content {
    width: 32rem;
    gap: 2rem;
  }
  .style-content p {
    width: 34rem;
  }

  .style-image img {
    width: 80%;
  }

  /* section about alert */
  .section-about-alert {
    grid-template-columns: 1fr;
  }
  .alert-info {
    text-align: center;
    gap: 2rem;
  }
  .alert-info p {
    width: 34rem;
  }

  /* section about specifications */
  .section-about-specifications {
    height: 410vh;
    gap: 2rem;
    text-align: center;
  }

  .specifications-list {
    background: none;
    padding: 0;
    justify-items: center;
    align-items: center;
    gap: 2rem;
  }

  .specification {
    width: 90%;
    padding: 1.5rem;
    gap: 1rem;
  }
  .specification .title {
    gap: 1rem;
  }
  .specification:nth-child(even) {
    justify-self: center;
  }

  .suggestions {
    grid-template-columns: 1fr;
    gap: 3rem;
    justify-items: center;
  }

  .suggestion-card {
    height: 40rem;
    width: 35rem;
    gap: 2rem;
  }
  .suggestion-card:nth-child(1),
  .suggestion-card:nth-child(2) {
    justify-self: center;
  }

  .end-info {
    gap: 3rem;
  }

  .end-image {
    width: 70%;
  }

  .end-image img {
    width: 100%;
  }
  .subscribe-container {
    gap: 3rem;
  }

  .subscribe {
    height: 4rem;
    width: 30rem;
  }

  .subscribe input {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 1rem;
  }

  .subscribe label {
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 1rem;
    right: 0.3rem;
  }
  footer {
    height: 25vh;
    grid-template-columns: 1fr;
    padding: 2rem 0;
  }
  footer ul {
    gap: 2rem;
  }

  footer ul a {
    font-size: 1.2rem;
  }

  .border {
    width: 90%;
  }

  /* buy now popup */
  .product-inventory {
    width: 80%;
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
  .close {
    font-size: 1.5rem;
  }
  .product-view {
    gap: 1rem;
  }
  .product-image {
    width: 60%;
  }
  .product-varients {
    gap: 1.5rem;
  }
  .product {
    width: 2rem;
  }
  .product-details {
    gap: 1.5rem;
    margin-top: 2rem;
  }
  #add {
    margin-top: 2rem;
  }

  /* cart-popup */
  .cart-popup {
    width: 100%;
  }
} ;
